<div class="modal-body">
  <form role="form">

    <div class="form-group">
      <label for="inputName">Name</label>
      {{input id="inputName" type="text" value=name size="50" placeholder="Confirm Password" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="inputUsername">Username</label>
      {{input id="inputUsername" type="text" value=username size="50" placeholder="Username" class="form-control"}}
    </div>
    
    <div class="form-group">
      <label for="inputEmail">Email</label>
      {{input id="inputEmail" type="text" value=email size="50" placeholder="Email" class="form-control"}}

    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      {{input id="inputPassword" type="password" value=password size="50" placeholder="Password" class="form-control"}}
    </div>
    
    <div class="form-group">
      <label for="inputConfirmPassword">Confirm Password</label>
      {{input id="inputConfirmPassword" type="password" value=confirmPassword size="50" placeholder="Confirm Password" class="form-control"}}
    </div>
    
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary"{{action "signUp"}}>Sign Up</button>
  
</div>
