<div class="row-fluid">
  <div class="span2">
    {{#if volume.volumeInfo.imageLinks.thumbnail}}    
        <img border="0" {{bindAttr src="volume.volumeInfo.imageLinks.thumbnail"}} {{action "openVolume"  volume}} {{ bindAttr title="volume.volumeInfo.title"}} {{ bindAttr alt="unbound volume.volumeInfo.title"}}>
    {{/if}}
  </div>
  <div class="span10">
    <div>
      <h3>
        <a href="" {{action "openVolume" volume}}>{{volume.volumeInfo.title}}</a>
      </h3>
    </div>
    <div>
      <div>
        <span>
          <span style="color: #676767">
            <a href="#">
               <span dir="ltr">{{unbound volume.volumeInfo.authors}}</span>
            </a> 
            - {{volume.formattedPublishedDate}} -
          </span>
        </span> 
        {{#if volume.volumeInfo.description}}
          <div class="sidebar-box">
            <p class="description">{{volume.unescapedDescription}}</p>
            
          </div>
          <p class="text-right"><button class="btn btn-link" type="button" {{action "readMore" target=view}}>Read More</button></p> 
        {{/if}}
      </div>
    </div>
  </div>
</div>